@import "tailwindcss";
html, body {
  overflow-x: hidden;
}
/* index.css / globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
