@import "tailwindcss";
html, body {
  overflow-x: hidden;
}
/* index.css / globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
